.flag{
  background-image: url(/images/pf-national-logo.png) !important;
}

#hulk-fist{
  pointer-events: none;
  background-image: url(/images/fist1.png) !important;
  background-size: 300px 300px;
  background-repeat: no-repeat;
  position: fixed;
  left: 0px;
  top: -300px;
  width: 300px;
  height: 300px;
  z-index: 999;
}


#hulk-cracks{
  pointer-events: none;
  background-image: url(/images/cracks.png) !important;
  background-size: 500px 500px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  top: -500px;
  width: 600px;
  height: 500px;
  z-index: 998;
}

.filler-hulk{
  background-image: url(/images/transform.png) !important;
  min-height: 500px;
  min-width: 600px;
  background-size: 100%;

}
.nav {
    background: #1C711C;
  }

  .icons span{ 
    font-size: 32pt;
  }
  .icons a{ 
    font-size: 28pt;
    text-decoration: none;
  }